# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# prisma
**/generated/

# os
.DS_Store

# logs
*.log
npm-debug.log*
pnpm-debug.log*
